.default-modal-container{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255,255,255,.7);
}

.default-modal-container .default-modal{
  height: 300px;
  width: 400px;
  border-radius: 8px;
  background-color: #fff;
  z-index: 10000;
  margin: auto;
  min-width: 320px;
  padding: 16px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .3), 0 4px 8px 3px rgba(60, 64, 67, .15)
}